<section class="state" aria-labelledby="stateHeading">
  <p class="state__title" tabindex="0">
    So, do you love the current state of your skin?
  </p>
  <div class="state__options" role="group">
    <div
      class="state__option"
      tabindex="0"
      role="button"
      aria-pressed="false"
      aria-label="Yes"
    >
      <p>Yes</p>
    </div>
    <div
      class="state__option"
      tabindex="0"
      role="button"
      aria-pressed="false"
      aria-label="No"
    >
      <p>No</p>
    </div>
  </div>
</section>
