<footer class="footer">
  <div class="image__section">
    <img
      src="assets/images/women2.avif"
      alt="Woman with clear skin showcasing skincare"
    />
    <p>Lóvi is a skin care that feels like self care</p>
  </div>
  <div class="footer__content">
    <div class="footer__text">
      Read our articles on
      <a href="https://medium.com" aria-label="Visit our Medium page">Medium</a
      >,
      <a href="https://www.instagram.com" aria-label="Visit our Instagram page"
        >Instagram</a
      >, and follow us on
      <a href="https://www.tiktok.com" aria-label="Follow us on TikTok"
        >TikTok</a
      >,
      <a href="https://www.linkedin.com" aria-label="Visit our LinkedIn page"
        >LinkedIn</a
      >.
    </div>
    <img
      src="assets/images/download-app-store.png"
      class="footer__download"
      alt="Download on the App Store"
    />
    <p class="footer__text--sub">1459595</p>
    <div class="footer__nav">
      <div class="footer__options">
        <p>2024 © Digital Skincare</p>
        <a href="#"> Careers </a>
        <a href="#"> Privacy policy </a>
        <a href="#"> Money-back policy </a>
        <a href="#"> Terms of use </a>
      </div>
      <p class="footer__options--badge">Built by the sea in Cyprus</p>
    </div>
  </div>
</footer>
