<section class="hero" aria-labelledby="heroTitle">
  <div class="hero__main">
    <p class="hero__badge">Lóvi Score is here!</p>
    <h2 class="hero__title">Science-backed AI Cosmetologist you can trust</h2>
    <h4 class="hero__subtitle">Focused around you and your health</h4>
  </div>
  <div class="hero__images">
    <div class="hero__women">
      <img src="assets/images/women.avif" alt="A woman with healthy skin" />
    </div>
    <div class="hero__phone">
      <img
        class="hero__phone__image"
        src="assets/images/phone.png"
        alt="Phone displaying the interface"
      />
      <div class="hero__products">
        <img
          class="hero__product"
          src="assets/images/miniProduct.png"
          alt="Product 1"
        />
        <img
          class="hero__product"
          src="assets/images/miniProduct2.png"
          alt="Product 2"
        />
        <img
          class="hero__product"
          src="assets/images/miniProduct2.png"
          alt="Product 2"
        />
      </div>
    </div>
    <div class="hero__text">
      <p>Face scan in progress...</p>
      <div class="hero__scanline"></div>
    </div>
  </div>
</section>
