<div class="messages__options">
  <button
    class="messages__options__button"
    aria-label="Request additional suggestions"
  >
    <p class="messages__options__button__text">What else could you suggest?</p>
    <div class="messages__options__button__icon">
      <svg viewBox="0 0 24 24">
        <use href="assets/icons/arrow.svg#arrow" />
      </svg>
    </div>
  </button>
  <button
    class="messages__options__button"
    aria-label="Request additional information"
  >
    <p class="messages__options__button__text">What else can you do?</p>
    <div class="messages__options__button__icon">
      <svg viewBox="0 0 24 24">
        <use href="assets/icons/arrow.svg#arrow" />
      </svg>
    </div>
  </button>
</div>
